.profile__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  max-width: 340px;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 570px){
  .profile__text {
    margin: 26px 0 0;
    justify-content: center;
    align-items: center;
}
}