.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  align-self: center;
  background-image: url(../../../images/add_button1.svg);
  background-color: transparent;
  background-size: cover;
  border: 0;
  outline: none;
  transition: opacity .12s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 1000px){
  .profile__add-button {
    background-size: auto;
}
}

@media screen and (max-width: 790px){
  .profile__add-button {
    margin-top: 40px;
    width: 282px;
    height: 50px;
    background-image: url(../../../images/add_button.svg);
}
}