.profile__profession {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 340px; 
}

@media screen and (max-width: 500px){
  .profile__profession {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 17px;
}
}

@media screen and (max-width: 430px){
  .profile__profession {
    max-width: 200px; 
}
}